.loginlink {
	float:right;
}
.loginlink a {
	color:#999;
}

/* Table of Contents */
#dw__toc {
	clear: right;
	float: right;
	color: #999;
	font-size: 80%;
}
#dw__toc a {
	color: #999;
}

.h6e-page-title {
}

.h6e-entry-title
{
    border-bottom:1px solid #009DFF;
    margin-left:-1.5em;
    padding-left:1.5em;
    line-height:1em;
}

.h6e-page-title.large {
	text-align: center;
	padding-right: 2.5em;
}
.h6e-page-title.large #dokuwiki__top {
	/*color:#4E5368;*/
}
.h6e-page-title.small {
	float: right;
	display: inline-block;
}
.h6e-page-title.small #dokuwiki__top {
	font-size: 80%;
	color: #999;
}

.h6e-page-title .large_logo {
	margin-bottom:-0.7em;
}
.h6e-page-title .small_logo {
	margin-bottom: -0.4em;
	margin-top: 0.3em;
}

.h6e-entry-title {
	/*clear: left;*/
}

.mini_logo {
	margin-bottom: -1em;
	margin-right: -0.4em;
	margin-left: -1em;
}

/* Menu */

#menu {
	padding:0;
	margin:0;
	font-size:1.2em;
	height:60px;
	text-align: right;
}

#menu ul {
	padding:0;
	margin:0;
	list-style-type:none;
	background: linear-gradient(#D4D4D4 0%, #FFFFFF 1px);
}

#menu a.sub:link,
#menu ul ul li a:link {
	display:block;
	min-width:140px;
	height:22px;
	text-align:left;
	line-height:22px;
	color:#404040;
	margin:0;
	background:#FFF;
}

#menu ul li a:hover,
#menu a.sub:hover,
#menu ul ul li a:hover {
	color: #009dff;
}

#menu ul ul {
	position:absolute;
	width:auto;
	z-index:122;
	display:none;
	padding:0;
	margin:0;
	text-align:left;
	background:#FFF;
	box-shadow:3px 3px 4px 1px rgba(0, 0, 0, .2);
	margin-left:5px !important;
}
	
#menu ul ul li {
	white-space: nowrap;
}

#menu li {
	position:relative;
	display:inline-block;
	width:auto;
	padding:0;
	margin:0;
	margin-left:-5px;
}

#menu ul li:hover ul {
	display:block;
	background:#FFF;
}

#menu ul li:hover {
	background-color:#FFF;
}

#menu a:link,
#menu a:visited {
	display:block;
	width:auto;
	height:33px;
	color:#323232;
	background:#FFF;
	padding-left:0.44em;
	padding-right:0.44em;
	font-weight:regular;
	font-family:"Calibri", sans-serif;
	line-height:33px;
	border-left: 1px solid #ccc;
}


#menu a:hover,
#menu a:visited:hover {
	color: #009dff;
}

#menu a.sub_ex:before {
	content: "→ ";
}

#menu a.sub_ex:link {
	display:block;
	min-width:140px;
	height:22px;
	text-align:left;
	line-height:22px;
	color:#404040;
	margin:0;
}

#menu a.sub_ex:hover {
	color: #009dff;
}

